body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 41, 128, 0.61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 15vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 2px solid white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    color: white;
    background-color: rgba(59, 59, 59, 0.212);
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
    width: 30vw;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    position: relative;
}

ul li:hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
    transition: .5s;
}

form {
    color: rgba(255, 255, 255, 0.315);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button {
    margin: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    transition: .5s;
}

form button:hover {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
    transition: .5s;
}

form input {
    background: transparent;
    outline: none;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

::placeholder {
    color: white;
}

#delete {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.26);
    border: none;
    transition: .5s;
    font-size: 1em;
    outline: none;
}

#delete:hover {
    color: red;
    transition: .5s;
}